{% extends "navigation/layout.html" %}

{% block title %}Little Learners Explore The Victorians{% endblock %}
{% block content %}

	<div class="heading">Little Learners Explore The Victorians</div>

	<div class="contenttext"><p>With the help of Kerry (another home-ed Mum) and Lesley (my wonderful mother) I am organising a series of play based sessions on the Victorians. The topic was chosen by my son. He adores trains and has been watching the BBC series Full Steam Ahead. Naturally this has inspired an interest in the Victorians.</p><p>We are exploring a different topic each session</p></div>

        <!--
        <img src="chickenvaccine.jpeg" width="207" height="200" border="0" alt="vaccinating chicken"><p>Victorian Health</p>

        -->

{% endblock %}
