{% extends "navigation/layout.html" %}

{% block title %}Little Learners Explore Victorian Entertainment{% endblock %}
{% block content %}
{% load static from staticfiles %}

	<div class="heading">Little Learners Explore Victorian Entertainment</div>

        <img src="{% static "tempmedia/victorian_entertainment/DSCF1724.JPG" %}" width="133" height="200" border="0" alt="making ectoplasm">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1727.JPG" %}" width="133" height="200" border="0" alt="making ectoplasm">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1773.JPG" %}" width="300" height="200" border="0" alt="making ectoplasm">

	<div class="contenttext">There was relatively little prep needed for this session but Henry did enjoy making slimey ectoplasm.</div>

	<div class="subheading">Ectoplasm Sensory Play</div>

        <img src="{% static "tempmedia/victorian_entertainment/ectoplasm1.jpg" %}" width="141" height="200" border="0" alt="ectoplasm sensory play">
        <img src="{% static "tempmedia/victorian_entertainment/ectoplasm2.jpg" %}" width="298" height="200" border="0" alt="ectoplasm sensory play">
        <img src="{% static "tempmedia/victorian_entertainment/ectoplasm3.jpg" %}" width="173" height="200" border="0" alt="ectoplasm sensory play">
	
	<div class="contenttext">Many Victorians attempted to contact the dead, both in organised seances and through the use of talking boards at home. Mediums would produce objects they told people were physical manifestations of spirits. The special supernatural material (proved to be mostly cheesecloth and starch) was called ectoplasm. We made up our own "ectoplasm" and added some crepe banadges for a bit of spooky sensory play.</div>

	<div class="subheading">Curiosity Show</div>

        <img src="{% static "tempmedia/victorian_entertainment/DSCF1761.JPG" %}" width="139" height="200" border="0" alt="bearded lady">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1729.JPG" %}" width="170" height="200" border="0" alt="bearded lady and mermaid">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1799.JPG" %}" width="161" height="200" border="0" alt="bearded lady">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1798.JPG" %}" width="83" height="200" border="0" alt="mermaid">
	
	<div class="contenttext">From so called mermaids to bearded ladies, the Victorians loved an unusual spectacle. Our curiosity tent boasted a large number of bearded ladies and more than a few mermaids.</div>

	<div class="subheading">The Circus</div>

        <img src="{% static "tempmedia/victorian_entertainment/DSCF1780.JPG" %}" width="161" height="200" border="0" alt="diablo">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1752.JPG" %}" width="89" height="200" border="0" alt="plate spinning">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1730.JPG" %}" width="95" height="200" border="0" alt="plate spinning">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1772.JPG" %}" width="119" height="200" border="0" alt="clown">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1749.JPG" %}" width="143" height="200" border="0" alt="unicycle">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1782.JPG" %}" width="212" height="200" border="0" alt="performance">

	<div class="contenttext">Circuses were extremely popular with the Victorians. Our performers rather enjoyed exhibiting their circus skills too (including the adults).</div>

        <img src="{% static "tempmedia/victorian_entertainment/performance.jpg" %}" width="309" height="200" border="0" alt="performance">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1762.JPG" %}" width="132" height="200" border="0" alt="unicycle">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1763.JPG" %}" width="116" height="200" border="0" alt="diablo">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1814.JPG" %}" width="212" height="200" border="0" alt="poi">
        <img src="{% static "tempmedia/victorian_entertainment/diablo.jpg" %}" width="106" height="200" border="0" alt="diablo">

	<div class="subheading">The Music Hall</div>

        <img src="{% static "tempmedia/victorian_entertainment/musichall.jpg" %}" width="165" height="200" border="0" alt="music hall">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1786.JPG" %}" width="342" height="200" border="0" alt="music hall">
        <img src="{% static "tempmedia/victorian_entertainment/musichall2.jpg" %}" width="194" height="200" border="0" alt="music hall">

	<div class="contenttext">Play food was served whilst listening to popular Victorian Music Hall songs.</div>

	<div class="subheading">The Theatre</div>

        <img src="{% static "tempmedia/victorian_entertainment/DSCF1759.JPG" %}" width="218" height="200" border="0" alt="face painting">

        <img src="{% static "tempmedia/victorian_entertainment/DSCF1750.JPG" %}" width="220" height="200" border="0" alt="face painting">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1792.JPG" %}" width="216" height="200" border="0" alt="face painting">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1797.JPG" %}" width="126" height="200" border="0" alt="face painting">
	
	<div class="contenttext">There were costumes and facepaint ready for a theatrical performance, although in the end we were so busy with the circus there wasn't any time for plays!</div>

	<div class="subheading">Decoupage</div>

        <img src="{% static "tempmedia/victorian_entertainment/decoupage3.jpg" %}" width="288" height="200" border="0" alt="decoupage">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1754.JPG" %}" width="210" height="200" border="0" alt="decoupage">
        <img src="{% static "tempmedia/victorian_entertainment/decoupage4.jpg" %}" width="213" height="200" border="0" alt="decoupage">
	
	<div class="contenttext">Arts and crafts were popular with Victorian ladies. Those who could afford such things would beautify everyday objects by gluing brightly coloured paper onto them. We used this technique to decorate trinket boxes.</div>

	<div class="subheading">Quilling</div>

        <img src="{% static "tempmedia/victorian_entertainment/DSCF1738.JPG" %}" width="229" height="200" border="0" alt="Quilling">
        <img src="{% static "tempmedia/victorian_entertainment/quilling.jpg" %}" width="238" height="200" border="0" alt="Quilling">
        <img src="{% static "tempmedia/victorian_entertainment/quilling2.jpg" %}" width="108" height="200" border="0" alt="Quilled picture">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1732.JPG" %}" width="141" height="200" border="0" alt="Quilling">
	
	<div class="contenttext">Another popular Victorian craft was quilling, the art of making pictures from rolled pieces of paper.</div>

	<div class="subheading">Magic and Table Top Games</div>

        <img src="{% static "tempmedia/victorian_entertainment/DSCF1744.JPG" %}" width="277" height="200" border="0" alt="magic">

        <img src="{% static "tempmedia/victorian_entertainment/DSCF1745.JPG" %}" width="360" height="200" border="0" alt="games">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1790.JPG" %}" width="147" height="200" border="0" alt="games">
	
	<div class="contenttext">The Victorians enjoyed to watch illusionists perform magic shows. Some of us had a go at performing our own magic. We also played some of the games popular with the Victorians such as backgammon, draughts and reversi.</div>

	<div class="subheading">Victorian Sports</div>
	
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1801.JPG" %}" width="158" height="200" border="0" alt="sports">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1805.JPG" %}" width="245" height="200" border="0" alt="sports">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1810.JPG" %}" width="110" height="200" border="0" alt="sports">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1806.JPG" %}" width="94" height="200" border="0" alt="sports">
	

	<div class="contenttext">We played football and croquet in the garden. Some of us also "hunted" for some of the animals the Victorians shot for sport.</div>

	<div class="subheading">Fantascopes and Colouring</div>

        <img src="{% static "tempmedia/victorian_entertainment/Fantascope.jpg" %}" width="159" height="200" border="0" alt="zoetropes">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1764.JPG" %}" width="324" height="200" border="0" alt="colouring">
        <img src="{% static "tempmedia/victorian_entertainment/DSCF1789.JPG" %}" width="133" height="200" border="0" alt="sandwich board">

	
	<div class="contenttext">We had the opportunity to investigate how a Fantascope worked and make our own. There was also the usual themed wordsearches, colouring, and books to explore.</div>

	<div class="subheading">Video Blog</div>

	<div class="contenttext">Here's Rachel's video blog about this session.</div>

        <div class="link"><iframe width="560" height="315" src="https://www.youtube.com/embed/2rN3J3c7Zbc" frameborder="0" allowfullscreen></iframe></div>

{% endblock %}
