{% extends "navigation/layout.html" %}

{% block title %}Little Learners Explore the Victorian Empire{% endblock %}
{% block content %}
{% load static from staticfiles %}

	<div class="heading">Little Learners Explore the Victorian Empire</div>

        <div class="contenttext">The Victorians had the largest recorded empire. They had extremely racist views and believed they were bringing "civilization" to the world. At this session we explored some of the countries that made up the empire, and learnt what use the Victorians had for them.</div>

	<div class="subheading">A Navy Gunship and a Merchant Vessel</div>

        <img src="{% static "tempmedia/victorian_empire/DSCF1940.JPG" %}" width="229" height="200" border="0" alt="navy gunship">
        <img src="{% static "tempmedia/victorian_empire/DSCF1984.JPG" %}" width="214" height="200" border="0" alt="merchant ship">
        <img src="{% static "tempmedia/victorian_empire/DSCF2018.JPG" %}" width="230" height="200" border="0" alt="merchant ship engulfed by wave">
	
	<div class="contenttext">The Victorians held their empire in check with their vast Navy and made money by trading around the world. We played with our own gunships and merchant vessels.</div>

	<div class="subheading">Australia</div>

        <img src="{% static "tempmedia/victorian_empire/DSCF1948.JPG" %}" width="151" height="200" border="0" alt="dot painting">
        <img src="{% static "tempmedia/victorian_empire/DSCF1959.JPG" %}" width="244" height="200" border="0" alt="dot painting">
        <img src="{% static "tempmedia/victorian_empire/DSCF2026.JPG" %}" width="445" height="200" border="0" alt="dot painting">

	
	<div class="contenttext">Unlike the Victorians we took a little time to learn about an aspect of Australian Aboriginal culture, dot paintings. We also pretended to be convicts working the land.</div>

        <img src="{% static "tempmedia/victorian_empire/DSCF1949.JPG" %}" width="298" height="200" border="0" alt="convict">
        <img src="{% static "tempmedia/victorian_empire/DSCF1950.JPG" %}" width="180" height="200" border="0" alt="convict">
        <img src="{% static "tempmedia/victorian_empire/DSCF1957.JPG" %}" width="185" height="200" border="0" alt="convict">

	<div class="subheading">Ceylon</div>

        <img src="{% static "tempmedia/victorian_empire/DSCF1944.JPG" %}" width="254" height="200" border="0" alt="ceylon pairs game">
        <img src="{% static "tempmedia/victorian_empire/DSCF2007.JPG" %}" width="228" height="200" border="0" alt="ceylon pairs game">
        <img src="{% static "tempmedia/victorian_empire/DSCF2011.JPG" %}" width="157" height="200" border="0" alt="colouring tea pickers">

	<div class="contenttext">We played a pairs memory game with pictures from colonial Ceylon (and some modern day tea pickers in Sri Lanka). Some of us coloured pictures of tea pickers.</div>

	<div class="subheading">East Africa</div>

        <img src="{% static "tempmedia/victorian_empire/DSCF1943.JPG" %}" width="127" height="200" border="0" alt="east africa">
        <img src="{% static "tempmedia/victorian_empire/DSCF1958.JPG" %}" width="246" height="200" border="0" alt="east africa">
        <img src="{% static "tempmedia/victorian_empire/DSCF1983.JPG" %}" width="336" height="200" border="0" alt="east africa">
	

	<div class="contenttext">We played with safari animals in the colony of East Africa (mostly modern day Kenya) and hunted for elephants to take their ivory tusks.</div>

	<div class="subheading">Cape Colony</div>

        <img src="{% static "tempmedia/victorian_empire/DSCF1946.JPG" %}" width="218" height="200" border="0" alt="diamond mining">
        <img src="{% static "tempmedia/victorian_empire/DSCF2021.JPG" %}" width="282" height="200" border="0" alt="diamond mining">
        <img src="{% static "tempmedia/victorian_empire/DSCF1974.JPG" %}" width="133" height="200" border="0" alt="diamond mining">
	
	
	<div class="contenttext">In the Cape Colony (mostly modern day South Africa) we mined for diamonds and gold.</div>

	<div class="subheading">Canada and Jamaica</div>

        <img src="{% static "tempmedia/victorian_empire/DSCF2008.JPG" %}" width="155" height="200" border="0" alt="fur trade">
        <img src="{% static "tempmedia/victorian_empire/DSCF2009.JPG" %}" width="358" height="200" border="0" alt="fur trade">
        <img src="{% static "tempmedia/victorian_empire/DSCF1942.JPG" %}" width="164" height="200" border="0" alt="cocobread">

	
	<div class="contenttext">We traded timber and furs at the Canadian trading post and then sailed our goods back to England. In Jamaica we tried cocobread.</div>

	<div class="subheading">India</div>

        <img src="{% static "tempmedia/victorian_empire/DSCF1960.JPG" %}" width="250" height="200" border="0" alt="spice play dough">
        <img src="{% static "tempmedia/victorian_empire/DSCF1976.JPG" %}" width="156" height="200" border="0" alt="indian clothes">
        <img src="{% static "tempmedia/victorian_empire/DSCF1981.JPG" %}" width="107" height="200" border="0" alt="indian clothes">
        <img src="{% static "tempmedia/victorian_empire/DSCF1980.JPG" %}" width="94" height="200" border="0" alt="indian clothes">
        <img src="{% static "tempmedia/victorian_empire/DSCF1991.JPG" %}" width="128" height="200" border="0" alt="curry">
	
	
	<div class="contenttext">We ate curry, dressed in Indian clothes, played with spice scented play dough and had the option to play 'stick the jewel on the crown'.</div>

	<div class="subheading">New Zealand</div>

        <img src="{% static "tempmedia/victorian_empire/DSCF1952.JPG" %}" width="194" height="200" border="0" alt="making and playing with poi">
        <img src="{% static "tempmedia/victorian_empire/DSCF1987.JPG" %}" width="116" height="200" border="0" alt="making and playing with poi">
        <img src="{% static "tempmedia/victorian_empire/DSCF2002.JPG" %}" width="140" height="200" border="0" alt="making and playing with poi">
        <img src="{% static "tempmedia/victorian_empire/DSCF2017.JPG" %}" width="104" height="200" border="0" alt="making and playing with poi">
	
	<div class="contenttext">We made our own poi and spun it to Maori music.</div>

{% endblock %}
