{% extends "navigation/layout.html" %}

{% block title %}Little Learners Explore Victorian Health{% endblock %}
{% block content %}
{% load static from staticfiles %}

	<div class="heading">Little Learners Explore Victorian Health</div>

        <img src="{% static "tempmedia/victorian_health/makingleg.jpeg" %}" width="209" height="200" border="0" alt="making a leg">
        <img src="{% static "tempmedia/victorian_health/paintingcarboys.jpeg" %}" width="178" height="200" border="0" alt="painting carboy">
        <img src="{% static "tempmedia/victorian_health/pharmacypractice.jpeg" %}" width="193" height="200" border="0" alt="pharmacy practice">
        <img src="{% static "tempmedia/victorian_health/surgerypractice.jpeg" %}" width="133" height="200" border="0" alt="surgery practice">

	<div class="contenttext">Henry had great fun helping me prepare for this session. He helped make props, prepare signs and of course tried out some role play. We discussed the topic in advance and read some books. Henry was really keen to share what he had learnt with his friends.</div>

	<div class="subheading">Louis Pasteur's Lab</div>

        <img src="{% static "tempmedia/victorian_health/microscope.jpeg" %}" width="151" height="200" border="0" alt="looking at bacteria with micrscope">
        <img src="{% static "tempmedia/victorian_health/chickenvaccine.jpeg" %}" width="207" height="200" border="0" alt="vaccinating chicken">
        <img src="{% static "tempmedia/victorian_health/microscope2.jpeg" %}" width="147" height="200" border="0" alt="looking at bacteria with micrscope">
        <img src="{% static "tempmedia/victorian_health/bacteriaculture.jpeg" %}" width="217" height="200" border="0" alt="bacteria swob">

	<div class="contenttext">We used a microscope to view bacteria and microscopic organisms. We took swabs to smear on nutrient agar in the hopes of growing a bacterial colony at home, and we helped Pasteur invent a vaccine for chicken cholora.</div>

	<div class="subheading">Invalid Food</div>

        <img src="{% static "tempmedia/victorian_health/gruel.jpeg" %}" width="150" height="200" border="0" alt="making gruel">
        <img src="{% static "tempmedia/victorian_health/oatmealgruel.jpeg" %}" width="236" height="200" border="0" alt="tasting gruel">
        <img src="{% static "tempmedia/victorian_health/barleygruel.jpeg" %}" width="179" height="200" border="0" alt="tasting gruel">
        <img src="{% static "tempmedia/victorian_health/invalidpudding.jpeg" %}" width="201" height="200" border="0" alt="making gruel">

	<div class="contenttext">We used Mrs Beeton's recipe for oatmeal gruel (measuring in pints and ounces of course) and then those brave enough tasted 3 different types Victorian invalid food.</div>

	<div class="subheading">The Nightingale Home and Training School for Nurses at St Thomas' Hospital</div>

        <img src="{% static "tempmedia/victorian_health/nurses1.jpeg" %}" width="202" height="200" border="0" alt="nightingale nurses">
        <img src="{% static "tempmedia/victorian_health/nurses2.jpeg" %}" width="216" height="200" border="0" alt="nightingale nurses">
        <img src="{% static "tempmedia/victorian_health/nurses3.jpeg" %}" width="238" height="200" border="0" alt="nightingale nurses">
        <img src="{% static "tempmedia/victorian_health/nurses4.jpeg" %}" width="144" height="200" border="0" alt="nightingale nurses">

	<div class="contenttext">We trained as Victorian nurses. Don't forget to open the windows!</div>

	<div class="subheading">Pharmacy</div>

        <img src="{% static "tempmedia/victorian_health/carboys.jpeg" %}" width="270" height="200" border="0" alt="carboys">
        <img src="{% static "tempmedia/victorian_health/remedy1.jpeg" %}" width="164" height="200" border="0" alt="mixing remedies">
        <img src="{% static "tempmedia/victorian_health/remedy2.jpeg" %}" width="180" height="200" border="0" alt="mixing remedies">
        <img src="{% static "tempmedia/victorian_health/lemonaid.jpeg" %}" width="194" height="200" border="0" alt="making lemonaid">

	<div class="contenttext">We sold branded medicines, mixed up remedies, made a health tonic drink, and mixed colours for the shop carboys.</div>

        <img src="{% static "tempmedia/victorian_health/shop1.jpeg" %}" width="265" height="200" border="0" alt="pharmacy shop">
        <img src="{% static "tempmedia/victorian_health/shop2.jpeg" %}" width="300" height="200" border="0" alt="leeches">
        <img src="{% static "tempmedia/victorian_health/shop3.jpeg" %}" width="267" height="200" border="0" alt="Victorian money">

	<div class="subheading">Smog</div>

        <img src="{% static "tempmedia/victorian_health/smog1.jpeg" %}" width="300" height="200" border="0" alt="making smog">
        <img src="{% static "tempmedia/victorian_health/smog2.jpeg" %}" width="150" height="200" border="0" alt="making smog">
        <img src="{% static "tempmedia/victorian_health/smog3.jpeg" %}" width="274" height="200" border="0" alt="making smog">

	<div class="contenttext">We made smog in a jar.</div>

	<div class="subheading">Surgery</div>

        <img src="{% static "tempmedia/victorian_health/surgeon.jpeg" %}" width="84" height="200" border="0" alt="surgeon">
        <img src="{% static "tempmedia/victorian_health/surgerymid.jpeg" %}" width="193" height="200" border="0" alt="surgery">
        <img src="{% static "tempmedia/victorian_health/surgeryoutcome.jpeg" %}" width="203" height="200" border="0" alt="surgery outcome">
        <img src="{% static "tempmedia/victorian_health/surgerylate.jpeg" %}" width="191" height="200" border="0" alt="surgery">

	
	<div class="contenttext">We pretended to amputate limbs using the techniques available to the early, mid and late Victorians and then draw a card to see whether our patient survived.</div>

	<div class="subheading">Mary Seacole's Hotel</div>

        <img src="{% static "tempmedia/victorian_health/hotel1.jpeg" %}" width="133" height="200" border="0" alt="Mary Seacole">
        <img src="{% static "tempmedia/victorian_health/hotel2.jpeg" %}" width="173" height="200" border="0" alt="making food">
        <img src="{% static "tempmedia/victorian_health/hotel3.jpeg" %}" width="379" height="200" border="0" alt="making food">
        <img src="{% static "tempmedia/victorian_health/hotel4.jpeg" %}" width="120" height="200" border="0" alt="making food">
	
	<div class="contenttext">We made food to serve to the troops at the British Hotel, and hunted for rats and Mrs Seacole's pig.</div>

	<div class="subheading">Home Remedies</div>

        <img src="{% static "tempmedia/victorian_health/homeremedy2.jpeg" %}" width="188" height="200" border="0" alt="vinegar and brown paper">
        <img src="{% static "tempmedia/victorian_health/homeremedy1.jpeg" %}" width="234" height="200" border="0" alt="vinegar and brown paper">
        <img src="{% static "tempmedia/victorian_health/homeremedy3.jpeg" %}" width="150" height="200" border="0" alt="vinegar and brown paper">
	
	<div class="contenttext">We 'cured' bruising with vinegar and brown paper.</div>

	<div class="subheading">Sewage and our graveyard</div>
	
        <img src="{% static "tempmedia/victorian_health/poo1.jpeg" %}" width="386" height="200" border="0" alt="sewage">
        <img src="{% static "tempmedia/victorian_health/poo2.jpeg" %}" width="272" height="200" border="0" alt="sewage">
        <img src="{% static "tempmedia/victorian_health/graveyard.jpeg" %}" width="138" height="200" border="0" alt="graveyard">


	<div class="contenttext">We enjoyed sensory sewage play and discovered why poo was such a health problem for the Victorians. We read some sad facts in the graveyard and looked at genuine Victorian memoriam cards.

	<div class="subheading">Colouring, wordsearches and books</div>

        <img src="{% static "tempmedia/victorian_health/colouring1.jpeg" %}" width="157" height="200" border="0" alt="colouring">
        <img src="{% static "tempmedia/victorian_health/colouring2.jpeg" %}" width="150" height="200" border="0" alt="colouring">
        <img src="{% static "tempmedia/victorian_health/wordsearch.jpeg" %}" width="133" height="200" border="0" alt="wordsearch">
        <img src="{% static "tempmedia/victorian_health/info.jpeg" %}" width="247" height="200" border="0" alt="looking at info">
	
	<div class="contenttext">Some of us tried themed wordsearches, colouring, a quiz, or looked at Victorian books.</div>

        <img src="{% static "tempmedia/victorian_health/books.jpeg" %}" width="446" height="200" border="0" alt="sewage">

	<div class="subheading">Video Blog</div>

	<div class="contenttext">Here's Rachel's video blog about this session.</div>

        <div class="link"><iframe width="560" height="315" src="https://www.youtube.com/embed/Vxg9CqdcKls" frameborder="0" allowfullscreen></iframe></div>

{% endblock %}
