{% extends "navigation/layout.html" %}

{% block title %}Little Learners Explore Victorian Communication{% endblock %}
{% block content %}
{% load static from staticfiles %}

	<div class="heading">Little Learners Explore Victorian Communication</div>


	<div class="contenttext">The Victorian period witnessed a communications revolution. The telegraph, pre-paid postage stamps, the travelling post office, and even the telephone were invented during Victoria's reign.</div>

	<div class="subheading">Writing Letters</div>

        <img src="{% static "tempmedia/victorian_communication/writing1.jpeg" %}" width="139" height="200" border="0" alt="writing with quill pen">
        <img src="{% static "tempmedia/victorian_communication/writing2.jpeg" %}" width="151" height="200" border="0" alt="writing with quill pen">
        <img src="{% static "tempmedia/victorian_communication/writing3.jpeg" %}" width="184" height="200" border="0" alt="writing with quill pen">
        <img src="{% static "tempmedia/victorian_communication/writing5.jpeg" %}" width="163" height="200" border="0" alt="writing with quill pen">

	<div class="contenttext">Most Victorian letters and records would have been written using a quill pen and ink so we had a try with them.</div>

	<div class="subheading">Using a Typewriter</div>

        <img src="{% static "tempmedia/victorian_communication/typewriter1.jpeg" %}" width="236" height="200" border="0" alt="typewriter">
        <img src="{% static "tempmedia/victorian_communication/typewriter2.jpeg" %}" width="150" height="200" border="0" alt="typewriter">
        <img src="{% static "tempmedia/victorian_communication/typewriter3.jpeg" %}" width="238" height="200" border="0" alt="typewriter">
        <img src="{% static "tempmedia/victorian_communication/typewriter5.jpeg" %}" width="267" height="200" border="0" alt="typewriter">

	<div class="contenttext">The typewriter was invented during the Victorian period and started to be used by businesses to send letters. We tried typing messages on a typewriter and discovered that there's no way to delete things when they go wrong.</div>

	<div class="subheading">5 Needle Telegraph</div>

        <img src="{% static "tempmedia/victorian_communication/needletelegraph3.jpeg" %}" width="160" height="200" border="0" alt="needletelegraph">
        <img src="{% static "tempmedia/victorian_communication/needletelegraph2.jpeg" %}" width="300" height="200" border="0" alt="needletelegraph">
        <img src="{% static "tempmedia/victorian_communication/needletelegraph1.jpeg" %}" width="234" height="200" border="0" alt="needletelegraph">
        <img src="{% static "tempmedia/victorian_communication/needletelegraph4.jpeg" %}" width="194" height="200" border="0" alt="needletelegraph">

	<div class="contenttext">We sent messages using a five needle telegraph based on the first UK commericial telegraph system made by Cooke and Wheatstone.</div>

	<div class="subheading">Morse Code Telegraph</div>

        <img src="{% static "tempmedia/victorian_communication/morsecode3.jpeg" %}" width="213" height="200" border="0" alt="morsetelegraph">
        <img src="{% static "tempmedia/victorian_communication/morsecode1.jpeg" %}" width="286" height="200" border="0" alt="morsetelegraph">
        <img src="{% static "tempmedia/victorian_communication/morsecode2.jpeg" %}" width="296" height="200" border="0" alt="morsetelegraph">


	<div class="contenttext">We sent messages using a morse code telegraph similar to that which would have been used at the very end of the Victorian period.</div>

<div class="subheading">Secret Codes</div>

<img src="{% static "tempmedia/victorian_communication/secretcode2.jpeg" %}" width="252" height="200" border="0" alt="morsetelegraph">
<img src="{% static "tempmedia/victorian_communication/secretcode.jpeg" %}" width="260" height="200" border="0" alt="morsetelegraph">

	<div class="contenttext">People invented secret codes to use when sending telegraphs (sometimes because the information was secret, sometimes to reduce the length of the message and thereby save money). Some of us tried using codes to write secret messages.</div>

<div class="subheading">Telegraph Game</div>

<img src="{% static "tempmedia/victorian_communication/game1.jpg" %}" width="168" height="200" border="0" alt="telegraphgame">
<img src="{% static "tempmedia/victorian_communication/game2.jpg" %}" width="215" height="200" border="0" alt=telegraphgame">
<img src="{% static "tempmedia/victorian_communication/game3.jpg" %}" width="149" height="200" border="0" alt=telegraphgame">
<img src="{% static "tempmedia/victorian_communication/game4.jpg" %}" width="176" height="200" border="0" alt=telegraphgame">


	<div class="contenttext">The telegraph helped to catch criminals who could no longer jump on a train to escape justice. A description of the offender could be telegraphed up the line and the police arrest them at the station. We played a dice game to see if the criminal could reach the station before the telegraph (they didn't of course).</div>


	<div class="subheading">Delivering the Mail</div>

        <img src="{% static "tempmedia/victorian_communication/delivery1.jpeg" %}" width="140" height="200" border="0" alt="delivering mail">
        <img src="{% static "tempmedia/victorian_communication/delivery3.jpeg" %}" width="150" height="200" border="0" alt="sending parcel">
        <img src="{% static "tempmedia/victorian_communication/delivery4.jpeg" %}" width="166" height="200" border="0" alt="delivering mail">
        <img src="{% static "tempmedia/victorian_communication/delivery5.jpeg" %}" width="222" height="200" border="0" alt="delivering mail">

	<div class="contenttext">Some children dressed as letter carriers and delivered letters whilst others delivered parcels.</div>

	<div class="subheading">Sorting the Mail</div>

        <img src="{% static "tempmedia/victorian_communication/sorting3.jpeg" %}" width="300" height="200" border="0" alt="sorting on the TPO">
        <img src="{% static "tempmedia/victorian_communication/sorting2.jpeg" %}" width="147" height="200" border="0" alt="sorting on the TPO">
        <img src="{% static "tempmedia/victorian_communication/sorting1.jpeg" %}" width="189" height="200" border="0" alt="sorting on the TPO">
        <img src="{% static "tempmedia/victorian_communication/sorting4.jpeg" %}" width="308" height="200" border="0" alt="sorting on the TPO">

	
	<div class="contenttext">We sorted letters and parcels in our own travelling post office.</div>

	<div class="subheading">Post Office</div>

        <img src="{% static "tempmedia/victorian_communication/postoffice1.jpeg" %}" width="338" height="200" border="0" alt="Postoffice Roleplay">
        <img src="{% static "tempmedia/victorian_communication/postoffice2.jpeg" %}" width="267" height="200" border="0" alt="Postoffice Roleplay">
        <img src="{% static "tempmedia/victorian_communication/postoffice3.jpeg" %}" width="115" height="200" border="0" alt="Postoffice Roleplay">
        <img src="{% static "tempmedia/victorian_communication/postoffic4.jpeg" %}" width="116" height="200" border="0" alt="Postoffice Roleplay">

	
	<div class="contenttext">We sold stamps and franked letters. We tried the red stamp on the penny black and the black stamp on the penny red.</div>

	<div class="subheading">Perforating Stamps</div>

        <img src="{% static "tempmedia/victorian_communication/perforating4.jpeg" %}" width="170" height="200" border="0" alt="perforating stamps">
        <img src="{% static "tempmedia/victorian_communication/perforating1.jpeg" %}" width="175" height="200" border="0" alt="perforating stamps">
        <img src="{% static "tempmedia/victorian_communication/perforating2.jpeg" %}" width="244" height="200" border="0" alt="perforating stamps">
        <img src="{% static "tempmedia/victorian_communication/perforating3.jpeg" %}" width="236" height="200" border="0" alt="perforating stamps">
	
	<div class="contenttext">The first stamps had to be cut by hand. The Victorians then invented perforated stamps. They used a special machine, but we created the same effect by punching holes with a needle.</div>

	<div class="subheading">Wrapping Parcels Before Sticky Tape</div>

        <img src="{% static "tempmedia/victorian_communication/parcel1.jpg" %}" width="198" height="200" border="0" alt="parcel wrapping">
        <img src="{% static "tempmedia/victorian_communication/parcel2.jpg" %}" width="195" height="200" border="0" alt="parcel wrapping">
        <img src="{% static "tempmedia/victorian_communication/parcel3.jpg" %}" width="221" height="200" border="0" alt="parcel wrapping">
        <img src="{% static "tempmedia/victorian_communication/parcel4.jpeg" %}" width="297" height="200" border="0" alt="parcel wrapping">
	
	<div class="contenttext">We wrapped parcels in brown paper and string and delivered newspapers.</div>

	<div class="subheading">The Telephone</div>
	
        <img src="{% static "tempmedia/victorian_communication/telephone1.jpeg" %}" width="300" height="200" border="0" alt="telephone">
        <img src="{% static "tempmedia/victorian_communication/telephone2.jpeg" %}" width="565" height="200" border="0" alt="telephone">

	<div class="contenttext">We learnt that the telephone was invented during the Victorian period (though not used by many people). We held a balloon in order to feel our voice vibrate the air. We then used a string telephone.</div>

	<div class="subheading">Victorian Pillar Boxes</div>

        <img src="{% static "tempmedia/victorian_communication/pillarbox4.jpeg" %}" width="186" height="200" border="0" alt="pillarbox">
        <img src="{% static "tempmedia/victorian_communication/pillarboxa.jpg" %}" width="132" height="200" border="0" alt="pillarbox">
        <img src="{% static "tempmedia/victorian_communication/pillarbox5.jpeg" %}" width="121" height="200" border="0" alt="pillarbox">
        <img src="{% static "tempmedia/victorian_communication/pillarbox1.jpg" %}" width="164" height="200" border="0" alt="pillarbox">
        <img src="{% static "tempmedia/victorian_communication/pillarbox3.jpg" %}" width="143" height="200" border="0" alt="pillarbox">

	
	<div class="contenttext">We iced pillar box shaped biscuits in the green colour they were originally painted. We also posted letters through a latter Victorian red pillar box.</div>

	<div class="subheading">The Flying Scotsman</div>

        <img src="{% static "tempmedia/victorian_communication/potato1.jpeg" %}" width="114" height="200" border="0" alt="potato throwing">
        <img src="{% static "tempmedia/victorian_communication/potato3.jpeg" %}" width="299" height="200" border="0" alt="potato throwing">
        <img src="{% static "tempmedia/victorian_communication/potato2.jpeg" %}" width="259" height="200" border="0" alt="potato throwing">
	
	
	<div class="contenttext">The Flying Scotsman threw out a message in a potato (so that the signalman could telegraph up the line without the train needing to stop) so we practised our potato throwing skills.</div>

	<div class="subheading">The Railway</div>

        <img src="{% static "tempmedia/victorian_communication/train1.jpg" %}" width="267" height="200" border="0" alt="train">
        <img src="{% static "tempmedia/victorian_communication/train2.jpeg" %}" width="261" height="200" border="0" alt="train">
	
	<div class="contenttext">The railways were important in the story of communication. They were the first customers for the telegraph and carried letters swiftly from one part of the country to another. We used this as an exvuse to play with some wooden mail trains.</div>

	<div class="subheading">Exploring Further</div>

        <img src="{% static "tempmedia/victorian_communication/read1.jpeg" %}" width="150" height="200" border="0" alt="reading">
        <img src="{% static "tempmedia/victorian_communication/read2.jpeg" %}" width="122" height="200" border="0" alt="reading">
        <img src="{% static "tempmedia/victorian_communication/colour1.jpeg" %}" width="230" height="200" border="0" alt="colouring">
        <img src="{% static "tempmedia/victorian_communication/colour2.jpeg" %}" width="267" height="200" border="0" alt="colouring">
	
	<div class="contenttext">Some of us chose to read books, try themed wordsearches, colouring pictures or Jigsaw Puzzles.</div>

{% endblock %}
