{% extends "navigation/layout.html" %}

{% block title %}Little Learners Explore Victorian Childhood{% endblock %}
{% block content %}
{% load static from staticfiles %}

	<div class="heading">Little Learners Explore Victorian Childhood</div>

        <div class="contenttext">When preparing for this session Henry and I enjoyed reading lots of books about Victorian Childhood. We learnt that at the start of the Victorian era poor children worked very long hours, often in dangerous jobs and had no time to play. By the end of the period all children were expected to attend school and laws regulated where and how long they could work.</div>

	<div class="subheading">Rich Nursery</div>

        <img src="{% static "tempmedia/victorian_childhood/DSCF2272.JPG" %}" width="190" height="200" border="0" alt="Building Blocks">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2277.JPG" %}" width="254" height="200" border="0" alt="Building Blocks">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2265.JPG" %}" width="247" height="200" border="0" alt="Noah's Ark Toy">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2279.JPG" %}" width="133" height="200" border="0" alt="Rocking Horse">

	
	<div class="contenttext">We played with toys that might have been found in a rich child's nursery.</div>

	<div class="subheading">Foundling Hospital</div>

        <img src="{% static "tempmedia/victorian_childhood/DSCF2284.JPG" %}" width="166" height="200" border="0" alt="Foundling nursery">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2287.JPG" %}" width="124" height="200" border="0" alt="Foundling nursery">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2310.JPG" %}" width="161" height="200" border="0" alt="Foundling nursery">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2311.JPG" %}" width="171" height="200" border="0" alt="Foundling nursery">

	
	<div class="contenttext">Henry and I have been reading Hetty Feather, so we had to include the Foundling Hospital. It was admissions day, so our older Foundlings helped bath and bed the babies.</div>

	<div class="subheading">Cotton Mill</div>

        <img src="{% static "tempmedia/victorian_childhood/DSCF2263.JPG" %}" width="248" height="200" border="0" alt="cotton mill">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2264.JPG" %}" width="291" height="200" border="0" alt="cotton mill">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2285.JPG" %}" width="324" height="200" border="0" alt="cotton mill">


	<div class="contenttext">We worked in the Cotton Mill, sweeping cotton fluff from under the machines. We timed ourselves to see if we could work fast enough to stay out of the way of the "moving" machines.</div>

	<div class="subheading">Mine</div>

        <img src="{% static "tempmedia/victorian_childhood/DSCF2249.JPG" %}" width="202" height="200" border="0" alt="coal mine">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2251.JPG" %}" width="137" height="200" border="0" alt="coal mine">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2252.JPG" %}" width="182" height="200" border="0" alt="coal mine">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2298.JPG" %}" width="230" height="200" border="0" alt="coal mine">


	<div class="contenttext">We filled up coal trucks and pushed them through the mine shaft. Those who wanted to rubbed some coal dust on their face to look the part.</div>

	<div class="subheading">Chimney Sweep</div>

        <img src="{% static "tempmedia/victorian_childhood/DSCF2266.JPG" %}" width="206" height="200" border="0" alt="chimney sweeping">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2267.JPG" %}" width="258" height="200" border="0" alt="chimney sweeping">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2268.JPG" %}" width="164" height="200" border="0" alt="chimney sweeping">

	<div class="contenttext">Legally children under the age of 10 were already banned from climbing chimneys but we know from records of accidents that younger kids were still being sent up there. We climbed along our less dangerous horizontal chimney.</div>

<div class="subheading">Street Sellers</div>

<img src="{% static "tempmedia/victorian_childhood/DSCF2271.JPG" %}" width="155" height="200" border="0" alt="streetselling">
<img src="{% static "tempmedia/victorian_childhood/DSCF2317.JPG" %}" width="135" height="200" border="0" alt="streetselling">
<img src="{% static "tempmedia/victorian_childhood/DSCF2318.JPG" %}" width="134" height="200" border="0" alt="streetselling">
<img src="{% static "tempmedia/victorian_childhood/DSCF2319.JPG" %}" width="129" height="200" border="0" alt="streetselling">

	
	<div class="contenttext">We made pies and cakes to sell on the street, along with flowers, fruit and watercress.</div>

	<div class="subheading">School</div>

        <img src="{% static "tempmedia/victorian_childhood/DSCF2260.JPG" %}" width="271" height="200" border="0" alt="school">
        <img src="{% static "tempmedia/victorian_childhood/school.jpg" %}" width="204" height="200" border="0" alt="school">
        <img src="{% static "tempmedia/victorian_childhood/school2.jpg" %}" width="146" height="200" border="0" alt="school">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2305.JPG" %}" width="178" height="200" border="0" alt="school">
	
	<div class="contenttext">We attended a Victorian school, writing on slates and being threatened with the cane and dunce's cap.</div>

	<div class="subheading">Toys</div>

        <img src="{% static "tempmedia/victorian_childhood/DSCF2278.JPG" %}" width="175" height="200" border="0" alt="toys">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2313.JPG" %}" width="215" height="200" border="0" alt="toys">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2292.JPG" %}" width="179" height="200" border="0" alt="toys">

	
	<div class="contenttext">We played with a whipping top, cup and ball, and other Victorian toys. We also tried bowling a hoop and stick (it's really hard!).</div>

	<div class="subheading">Making Toys</div>

        <img src="{% static "tempmedia/victorian_childhood/DSCF2243.JPG" %}" width="222" height="200" border="0" alt="making toys">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2280.JPG" %}" width="266" height="200" border="0" alt="making toys">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2288.JPG" %}" width="169" height="200" border="0" alt="toys">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2301.JPG" %}" width="136" height="200" border="0" alt="making toys">

	<div class="contenttext">We made Jack in the Boxes, spinning tops, peg dolls, optical illusion toys and moving paper toys.</div>

        <img src="{% static "tempmedia/victorian_childhood/DSCF2309.JPG" %}" width="150" height="200" border="0" alt="making toys">
        <img src="{% static "tempmedia/victorian_childhood/toy.jpg" %}" width="158" height="200" border="0" alt="making toys">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2307.JPG" %}" width="115" height="200" border="0" alt="making toys">
        <img src="{% static "tempmedia/victorian_childhood/DSCF2297.JPG" %}" width="153" height="200" border="0" alt="making toys">

{% endblock %}
