body {
    background: #ffffff;
    font-family: Verdana, sans-serif;
	text-align: center;
}

.banner { background: #e3e4fa; padding-bottom: 5pt;}

.heading { font-size:18pt; text-align:center; font-weight:800; color:#000000; padding-bottom: 10pt; padding-top: 10pt;}

.subheading { font-size:14pt; text-align:center; font-weight:800; color:#000000; padding-bottom: 10pt; padding-top: 10pt; }

.contenttext { font-size:12pt; text-align:center; font-weight:400; color:#000000; padding-bottom: 5pt; padding-top: 5pt;}

.contenttextacross { font-size:11pt; text-align:justify; font-weight:400; color:#000000; padding-bottom: 5pt; padding-top: 5pt;}

.linktext { font-size:12pt; text-align:center; font-weight:400; color:#000000; padding-bottom: 5pt; padding-top: 15pt;}

.link { text-align:center; padding-bottom: 5pt; padding-top: 5pt;}

.menu { text-align:left; width:150px; color:#000000; background:#e3e4fa; }

.menu td {
    padding-bottom: 0pt;
    text-align: center;
    font-size: 9pt;
   line-height: 200%;
 font-weight:400;0   vertical-align: bottom;
    white-space: nowrap;
}

.menu *:link {
    color: #000000;
    text-decoration: none; font-weight:400; }
.menu *:visited {
    color: #000000;
    text-decoration: none; font-weight:400 
}
.menu *:hover {
    color: #000000;
    text-decoration: none;
    font-weight:400;
}
