<!doctype html>
<html>
<head>
  <title>{% block title %}Cook Around the World{% endblock %}</title>
  <meta charset="utf-8">
  <style>
      #map {
        width: 512px;
        height: 300px;
        border: solid black;
      }
  </style>
</head>
<body>
  <h1>Cook Around the World</h1>

  <p>
  One of our ongoing projects is to try recipes from different countries. You
  can navigate our efforts by clicking on the pins or scroll down to see the
  most recent recipes.
  </p>

  <div id="map"></div>
    <script>
      var markers = {{ markers|safe }};

      function makeMarker(map, markerData) {
        var marker = new google.maps.Marker({
          position: markerData.position,
          map: map,
        });

        marker.addListener('click', function() {
          window.location = markerData.url;
        });
      }

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          minZoom: 1,
          center: new google.maps.LatLng(markers[0].position.lat, markers[0].position.lng)
        });

        for (var i = 0; i < markers.length; i++) {
          makeMarker(map, markers[i]);
        }
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAl00xaAQ6BNJ8ZiEqB2wAWIJM9USmnWmg&callback=initMap"></script>

    <div>{% block content %}{% endblock %}</div>
</body>
</html>
